.dialog {
  background: transparent;
  border: 0;
}

.dialog-box {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  max-width: 375px;
  max-height: 80%;
  color: #000;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: left;
  overflow-y: hidden;
  font-size: 1rem;
}

.dialog-content {
  max-height: calc(80% - 2rem - 1.5rem - 42px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  padding-right: 4px;
}

.dialog-content::-webkit-scrollbar {
  width: 8px;
}

.dialog-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.dialog-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.dialog-content::-webkit-scrollbar-button {
  display: none;
}

.dialog-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;

  & h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.032em;
    color: #000000;
    margin: 0;
  }
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  padding: 8px 16px 8px 16px;
  transition: all ease-in-out 0.2s;
  &:hover {
    scale: 1.3;
  }
}

@media (min-width: 376px) {
  .dialog-box {
    left: calc(100% - 375px);
    top: 0;
    bottom: 0;
    max-height: 100%;
    border-top-right-radius: 0px;
  }
  .dialog-content {
    max-height: calc(100% - 2rem - 1.5rem - 20px);
  }
}